{% extends "omniventure_app/base_template.html" %}

{% block content %}

<h1 style="color: white;">Character Details</h1>
<div style="color: white; background-color: #333; padding: 20px; border-radius: 10px;">
    <p><strong>Character Name:</strong> {{ character.name }}</p>
    <p><strong>Server:</strong> {{ character.server }}</p>
    <p><strong>Data Center:</strong> {{ character.data_center }}</p>
    <div style="margin-top: 20px;">
        <img src="{{ character.portrait }}" alt="Character Portrait" style="max-width: 200px; border-radius: 5px;">
    </div>
    <!-- Additional fields -->
    <p style="margin-top: 20px;"><strong>Background:</strong> {{ character.background }}</p>
    <p><strong>Personality:</strong> {{ character.personality }}</p>
    <p><strong>Pronouns:</strong> {{ character.pronouns }}</p>
</div>

{% endblock %}