{% extends "omniventure_app/base_template.html" %}

{% block content %}

    <h1><div style="color: white"> Welcome to the Omni Venture's roleplaying website! </div></h1>

    <p><div style="color: white"> You can create an account, set up your profile, and include profiles for each of your characters.
        Once reviewed and SFW-approved, the profiles will be listed on our website to view.
        Lore snippets will be added about the Omni Venture on the home page when it is ready. </div></p>

{% endblock %}